/* small screens */
@media (max-width:766px) {
    .testimonial .carousel-inner .carousel-item {
        height: 60vh;
    }
}



/* Medium devices  */
@media (min-width:767px) and (max-width:1199px) {
    .testimonial .carousel-inner .carousel-item {
        height: 55vh;
    }
}

@media(max-width:991px) {

    /* navbar button */
    button.navbar-toggler {
        border: none;
    }

    .navbar-collapse {
        background-color: rgb(255, 255, 255);
        z-index: 100;
        width: 100%;
        margin-top: 27px;
        border-top: 5px solid rgba(12, 12, 12, 0.04);
    }

    .navbar-collapse ul li {
        padding: 10px 0;
    }

    .navbar-collapse ul li a {
        color: black;
        text-align: center;
    }

    .landing-page .navbar ul li a:hover::after,
    .landing-page .navbar ul li a:active:after {
        width: 0;
    }

    /* statistics */
    .statistics .row {
        gap: 50px;
    }

    /* form */
    form .input-grp {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    form .input-grp input {
        width: 100%;
    }
}

/* large screen */
@media (min-width:992px) {

    .statistics {
        height: 40vh;
    }
}